<section class="policy bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div ng-app="naytradingApp" class="app">
                    <div ng-view></div>
                </div>

                <script src="/static/js/angular-history-replace.js"></script>
                <script src="/static/js/core/core.module.js"></script>
                <script src="/static/js/core/instruments/instruments.module.js"></script>
                <script src="/static/js/core/instruments/instruments.service.js"></script>
                <script src="/static/js/core/snapshots/snapshots.module.js"></script>
                <script src="/static/js/core/snapshots/snapshots.service.js"></script>
                <script src="/static/js/core/stats/stats.module.js"></script>
                <script src="/static/js/core/stats/stats.service.js"></script>
                <script src="/static/js/instrument-list/instrument-list.module.js"></script>
                <script src="/static/js/instrument-list/instrument-list.component.js"></script>
                <script src="/static/js/snapshot-list/snapshot-list.module.js"></script>
                <script src="/static/js/snapshot-list/snapshot-list.component.js"></script>
                <script src="/static/js/snapshot/snapshot.module.js"></script>
                <script src="/static/js/snapshot/snapshot.component.js"></script>
                <script src="/static/js/user-stats/stats.module.js"></script>
                <script src="/static/js/user-stats/stats.component.js"></script>
                <script src="/static/js/app.module.js"></script>
                <script src="/static/js/app.config.js"></script>
            </div>
        </div>
    </div>
</section>