<div class="row row-spacer">
</div>

<div class="row row-spacer">
    <div class="col-12">
        <a href="#!/snapshot/new/random" class="btn btn-info btn-block" role="button">New decision on random stock</a>
    </div>
</div>

<span us-spinner spinner-on="$ctrl.loading" class="spinner">
    <div ng-hide="$ctrl.loading">
        <div class="row">
            <div class="col-2">
                <p>Search:</p>
            </div>
            <div class="col-7">
                <input ng-model="$ctrl.query" ng-change="$ctrl.onQueryChanged()" />
            </div>
            <div class="col-3"></div>
        </div>

        <div class="row">
            <div class="col-2">
                <p>Sort&nbsp;by:</p>
            </div>
            <div class="col-7">
                <select ng-model="$ctrl.orderProp" ng-change="$ctrl.onOrderChanged()">
                    <option value="InstrumentName">Alphabetical</option>
                    <option value="-Capitalization">Capitalization</option>
                </select>
            </div>
            <div class="col-3"></div>
        </div>

        <div class="row">
            <div class="col-12">
                <p>
                    Count: {{$ctrl.instruments.length}}
                </p>
            </div>
        </div>

        <div infinite-scroll='$ctrl.loadMore()' infinite-scroll-distance='2' infinite-scroll-listen-for-event="list:filtered">
            <div ng-repeat="instrument in $ctrl.pagedItems" class="row">
                <div class="col-5 instrument-name">
                    <a href="#!/snapshots/{{instrument.InstrumentName}}">{{instrument.InstrumentName}}</a>
                </div>
                <div class="col-3 instrument-name" style="text-align: right;">
                    <a href="#!/snapshot/new/{{instrument.ID}}" class="btn btn-info list-button">NEW DECISION</a>
                </div>
                <div class="col-4 instrument-capitalization">{{instrument.Capitalization}}</div>
            </div>
        </div>
    </div>
</span>
