__pycache__
/.vs
/packages
/.idea/workspace.xml
/NAYtrading.AI/model*
/NAYtrading.AI/buying*
/NAYtrading.AI/selling*
/NAYtrading.Common.Net/bin
/NAYtrading.Common.Net/obj
/NAYtrading.Common.Net/.vs
/NAYtrading.Common.Net/*.user
/NAYtrading.Data/download/data
/NAYtrading.Data/generate/data
/NAYtrading.Data/process/data
/NAYtrading.Node/.env
/NAYtrading.Node/bin
/NAYtrading.Node/obj
/NAYtrading.Node/*.log
/NAYtrading.Node/app/config/config.json
/NAYtrading.Node/app/config/database.json
/NAYtrading.Node/node_modules
/NAYtrading.Node/processing
/NAYtrading.Node/NAYtrading.Node.njsproj.user
/NAYtrading.Trader/bin
/NAYtrading.Trader/obj
/NAYtrading.Trader/.vs
/NAYtrading.Trader/*.user
/NAYtrading.AI/Archive
