/StockFlow/bin
/StockFlow/obj
/StockFlow/.vs
/YahooFinanceApi/bin
/YahooFinanceApi/obj
/YahooFinanceApi/.vs
/.vs
/packages
/StockFlow.Web/App_Data/*.mdf
/StockFlow.Web/App_Data/*.ldf
/StockFlow.Web/*.user
/StockFlow.Web/bin
/StockFlow.Web/obj
/StockFlow.Web/bower_components
/StockFlow.Web/.bowerrc
