/NAYtrading/.env
/NAYtrading/*.log
/NAYtrading/app/config/config.json
/NAYtrading/app/config/database.json
/NAYtrading/node_modules
/NAYtrading/processing
/NAYtrading/dist
/NAYtrading/server/config/database.json
/NAYtrading/server/config/config.json
