<section class="policy bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div ng-app="naytradingApp" class="app">
                    <div ng-view></div>
                </div>

                <script src="/static/js/core/core.module.js"></script>
                <script src="/static/js/core/settings/settings.module.js"></script>
                <script src="/static/js/core/settings/settings.service.js"></script>
                <script src="/static/js/core/admin/admin.module.js"></script>
                <script src="/static/js/core/admin/admin.service.js"></script>
                <script src="/static/js/settings/settings.module.js"></script>
                <script src="/static/js/settings/settings.component.js"></script>
                <script src="/static/js/admin/admin.module.js"></script>
                <script src="/static/js/admin/admin.component.js"></script>
                <script src="/static/js/app.module.js"></script>
                <script src="/static/js/app.config.js"></script>
            </div>
        </div>
    </div>
</section>