<!-- Masthead -->
<header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb-5">
                    N.A.Y.trading - Neurally Automate Your Trading.
                    <br/>
                    A free demo portfolio for practicing and automating your intuitive stock market trading skills.
                </h1>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <a href="/signup" role="button" class="btn btn-block btn-lg btn-primary">Sign up!</a>
            </div>
        </div>
    </div>
</header>

<!-- Icons Grid -->
<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-layers m-auto text-primary"></i>
                    </div>
                    <h3>Diversified</h3>
                    <p class="lead mb-0">N.A.Y.trading includes thousands of worldwide stocks from the most successful companies.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-screen-desktop m-auto text-primary"></i>
                    </div>
                    <h3>Lightning fast</h3>
                    <p class="lead mb-0">Analyze stocks back-to-back. It takes just 3 seconds per stock!</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-check m-auto text-primary"></i>
                    </div>
                    <h3>Easy to Use</h3>
                    <p class="lead mb-0">N.A.Y.trading is designed specifically with intuition and efficieny in mind.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Image Showcases -->
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/static/images/intuition.jpg'); background-position: center;"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Having a gut feeling</h2>
                <p class="lead mb-0">
                    Investment decisions can be hard. There are thousands of companies on the stock market.
                    Looking at the news, analyst ratings, and quaterly reports for each and every one of those companies is practically impossible.
                    N.A.Y.trading therefore proposes a much simpler and more time efficient approach: 
                    to look at the stock price history chart of the past five years and quickly decide whether to buy or not buy the stock within merely seconds.
                    We call that an <i>intuitive technical analysis</i>.
                </p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 text-white showcase-img" style="background-image: url('/static/images/crowd.jpg'); background-position: center;"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>Your brain is a high performance pattern recognition system</h2>
                <p class="lead mb-0">
                    Imagine, you are standing in a busy area out on the street. There are people moving in all directions.
                    Walking towards a friend and meeting him/her half way in such an area may feel easy and natural when in fact it's a highly complex task.
                    You need to coordinate your own movement and make sure to end up at the same position as your friend while simultaneously avoiding collisions with strangers.
                    Your brain effortlessly tracks each individual's position and velocity and predicts them into the future.
                </p>
            </div>
        </div>
        <div class="row no-gutters align-items-center">
            <div class="col-lg-6 order-lg-2 text-white showcase-img">
                <canvas class="chart chart-line" id="canvas"></canvas>
                <script type="text/javascript">
                    function formatDate(date) {
                        var y = date.getYear() + 1900;
                        var m = date.getMonth() + 1;
                        var d = date.getDate();
                        var mm = m < 10 ? '0' + m : m;
                        var dd = d < 10 ? '0' + d : d;
                        return '' + dd + '.' + mm + '.' + y;
                    }

                    var dates = [];
                    var rates = [];
                    var r1 = Math.random();
                    var r2 = Math.random();
                    var r3 = Math.random();
                    for(var i = -365 * 5, j = 0; i <= 0; ++i, ++j) {
                        var date = new Date(new Date().getTime() + i * 24 * 60 * 60 * 1000);
                        dates.push(formatDate(date));
                        var oct1 = 1.5 * Math.sin(i / 65 - 0.5 * Math.PI);
                        var oct2 = 0.4 * Math.sin(i / 19 - r1 * Math.PI);
                        var oct3 = 0.3 * Math.sin(i / 5 - r2 * Math.PI);
                        var oct4 = 0.2 * Math.sin(i / 3 - r3 * Math.PI);
                        var r = j / (365 * 5);
                        var rate = 2 + 8 * Math.pow(r, 1.2) + 10 + oct1 + oct2 + oct3 + oct4;
                        rates.push(Math.round(rate * 100) / 100);
                    }

                    var config = {
                        type: 'line',
                        data: {
                            labels: dates,
                            datasets: [{
                                yAxisID: 'y-axis-2',
                                backgroundColor: 'rgba(151,187,205,0.2)',
                                borderColor: 'rgba(151,187,205,1)',
                                data: rates,
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [
                                    {
                                        id: 'y-axis-2',
                                        type: 'linear',
                                        display: true,
                                        position: 'right'
                                    }
                                ],
                                xAxes: [{
                                    ticks: {
                                        autoSkip: true,
                                        maxTicksLimit: 5,
                                        maxRotation: 0 // angle in degrees
                                    }
                                }]
                            },
                            elements: {
                                point: {
                                    radius: 0
                                }
                            },
                            animation: false,
                            maintainAspectRatio: false
                        }
                    };

                    window.onload = function() {
                        var ctx = document.getElementById('canvas').getContext('2d');
                        window.myLine = new Chart(ctx, config);
                    };
                </script>
            </div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Humans are excellent at predicting the future</h2>
                <p class="lead mb-0">
                    Look at this stock price chart. How was this company doing overall?
                    How was it doing recently? What is likely to happen next?
                    Nobody can actually predict the future. Still, you probably had answers to all three questions and felt pretty confident about them.
                    The chart shows a repetitive pattern. Overall, the value of this company is rising. Short term, it was dropping a bit.
                    Your brain can continue the repeating pattern into the future, giving you a hunch that the stock price will likely rise again.
                </p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 text-white showcase-img" style="background-image: url('/static/images/business.jpg'); background-position: center;"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>Intuitive technical analysis</h2>
                <p class="lead mb-0">
                    Granted, your gut feeling won't be as precise as a full-blown real technical analysis or a research intensive fundamental analysis. 
                    The investment return on each individual stock maybe won't even be as good. 
                    However, with the capabilities of N.A.Y.trading, you can analyze a single stock in just 3 seconds. That's 100 stocks in 5 minutes! 
                    It provides the opportunity to highly diversify your portfolio, investing in hundreds of promising stocks at the same time.
                    Not all investments need to work out in the end if those individual losses are covered by the gains of the majority.
                    Investing in a wide range of companies that span many different kinds of businesses can be advantageous on many levels.
                    Such a portfolio is likely more robust against company crises and market crashs.
                </p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/static/images/ai.jpg'); background-position: center;"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Say NAY to trading</h2>
                <p class="lead mb-0">
                    Analyzing a stock on N.A.Y.trading takes merely seconds. But that can be improved even further. 
                    By harnessing the power of machine learning, you can lean back and let your computer do all the work for you.
                    N.A.Y.trading is built to support Google's state-of-the-art machine learning technology <i>TensorFlow</i> to train an artificial intelligence on your user input.
                    Depending on the number of investment decisions that you've made in N.A.Y.trading, this AI can mimic your trading behaviour on future stock charts with 90% accuracy or more.
                    Currently, this feature is experimental and only suitable for users with advanced computer knowledge. See the <a href="/faq">FAQ</a> for more details.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Call to Action -->
<section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h2 class="mb-4">N.A.Y.trading is free to play</h2>
            </div>
            <div class="col-xl-9 mx-auto">
                <p class="mb-4">
                    Sign up for your free personal portfolio. 
                    That is a <i>practicing portfolio</i>, meaning that you pretend to buy stocks with unlimited play money.
                    No real money involved. 
                    However, if you like to trade your buy and sell decisions for real, you are welcome to look at your trade history and call up your broker.
                </p>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <a href="/signup" role="button" class="btn btn-block btn-lg btn-primary">Sign up!</a>
            </div>
        </div>
    </div>
</section>
