<h2>About</h2>
<p>StockFlow archives manual stock trading decisions and feeds them to a neural network pattern recognition to make automated investment decisions.</p>
Browse the source code on <a href="https://www.github.com/chrwoizi/stockflow" class="github-logo"><img src="/static/images/GitHub_Logo.png" class="github-logo"/></a>

