<section class="policy bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Impressum</h2>
                <address>
                    Christian Woizischke<br />
                    Hinter der Masch 6<br />
                    38114 Braunschweig<br />
                    GERMANY<br />
                    <a href="mailto:info@stockflow.net">info@stockflow.net</a><br />
                </address>
            </div>
        </div>
    </div>
</section>