<h2>Impressum</h2>
<address>
    Christian Woizischke<br />
    Hinter der Masch 6<br />
    38114 Braunschweig<br />
    GERMANY<br />
    <a href="mailto:info@stockflow.de">info@stockflow.de</a><br />
</address>