<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="StockFlow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <system.net>
    <defaultProxy useDefaultCredentials="true" />
  </system.net>
  <userSettings>
    <StockFlow.Properties.Settings>
      <setting name="ProxyAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="ProxyUser" serializeAs="String">
        <value />
      </setting>
      <setting name="ProxyPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="Python" serializeAs="String">
        <value>C:\Program Files\Python\Python36\python.exe</value>
      </setting>
      <setting name="StockFlowAddress" serializeAs="String">
        <value>http://localhost:5000</value>
      </setting>
      <setting name="StockFlowUser" serializeAs="String">
        <value />
      </setting>
      <setting name="StockFlowPassword" serializeAs="String">
        <value />
      </setting>
    </StockFlow.Properties.Settings>
  </userSettings>
</configuration>
