.suggestion-price {
    text-align: right;
}
    
.suggestion-action {
    padding-left: 0;
    text-align: left;
}

.suggestion-status {
    padding-left: 0;
    text-align: right;
}
    