<?xml version="1.0" encoding="utf-8"?>
<appSettings>
    <add key="ChromeProfile" value=""/>
    <add key="ProxyAddress" value=""/>
    <add key="ProxyUser" value=""/>
    <add key="ProxyPassword" value=""/>
    <add key="NAYtradingAddress" value="http://localhost:5000"/>
    <add key="NAYtradingUser" value=""/>
    <add key="NAYtradingPassword" value=""/>
    <add key="BrokerUser" value=""/>
    <add key="BrokerPassword" value=""/>
    <add key="TanFilePassword" value=""/>
</appSettings>