<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="TradeDBContext" connectionString="Server=localhost;Database=stockflow_trade;Uid=stockflowapp;Password=testserver1!" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings file="appsettings.config">
    <add key="RebuildDatabase" value="false" />
    <add key="TanFilePath" value="tan.txt" />
    <add key="MaxSuggestionAge" value="168" />
    <add key="MaxRetryCount" value="10" />
    <add key="MinBuyOrderPrice" value="500" />
    <add key="MaxBuyOrderPrice" value="1000" />
    <add key="OrderFee" value="5.90" />
    <add key="SleepMinutesBetweenRuns" value="60" />
    <add key="StockExchangeOpeningTime" value="08:30:00" />
    <add key="StockExchangeClosingTime" value="21:30:00" />
    <!--<add key="ProxyAddress" value=""/>-->
    <!--<add key="ProxyUser" value=""/>-->
    <!--<add key="ProxyPassword" value=""/>-->
    <!--<add key="TradeDecisionsLoginAddress" value="http://localhost/StockFlow.Web/Account/Login"/>-->
    <!--<add key="TradeDecisionsDataAddress" value="http://localhost/StockFlow.Web/api/trades/{0:yyyyMMdd}"/>-->
    <!--<add key="TradeDecisionsUser" value=""/>-->
    <!--<add key="TradeDecisionsPassword" value=""/>-->
    <!--<add key="BrokerUser" value=""/>-->
    <!--<add key="BrokerPassword" value=""/>-->
    <!--<add key="TanFilePassword" value=""/>-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.8.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.8.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>
