<?xml version="1.0" encoding="utf-8"?>
<appSettings>
    <add key="ProxyAddress" value=""/>
    <add key="ProxyUser" value=""/>
    <add key="ProxyPassword" value=""/>
    <add key="StockFlowLoginAddress" value="http://localhost:5000/signin"/>
    <add key="StockFlowTradesAddress" value="http://localhost:5000/api/export/user/trades/{0:yyyyMMdd}"/>
    <add key="StockFlowWeightAddress" value="http://localhost:5000/api/weight/{0}/{1}/{2}"/>
    <add key="StockFlowUser" value=""/>
    <add key="StockFlowPassword" value=""/>
    <add key="BrokerUser" value=""/>
    <add key="BrokerPassword" value=""/>
    <add key="TanFilePassword" value=""/>
</appSettings>