<?xml version="1.0" encoding="utf-8"?>
<appSettings>
    <add key="ProxyUser" value=""/>
    <add key="ProxyPassword" value=""/>
    <add key="StockFlowUser" value=""/>
    <add key="StockFlowPassword" value=""/>
    <add key="BrokerUser" value=""/>
    <add key="BrokerPassword" value=""/>
    <add key="TanFilePassword" value=""/>
</appSettings>