html {
    font-size: 12px;
}

body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* View: Main */

.row-spacer {
    margin-bottom: 10px;
}

.list-button {
    font-size: 0.5em; 
    padding: 0.5em 0.5em 0.2em 0.5em; 
    margin-top: -0.5em;
}

a.github-logo {
    font-size: 3rem;
}

img.github-logo {
    height: 3rem;
}

dt {
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 1.2em;
}

.naytrading-beta {
    color: #888;
    font-size: 0.5em;
    position: relative;
    top: -0.7em;
    margin-left: 0.5em;
}


header.masthead {
    background: url("/static/images/pattern.jpg") repeat center center;
}
  
.call-to-action {
    background: url("/static/images/pattern.jpg") repeat center center;
}

.showcase .showcase-img {
    min-height: 40rem;
}

.app {
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
    display: block;
 }

 .spinner {
    display: block;
    min-height: 10em;
 }

 header.masthead .overlay {
     opacity: 0.5;
 }

 .call-to-action .overlay {
     opacity: 0.5;
 }

 .tanlist-cell {
     width: 4em;
 }

 .red {
     color: red;
 }

 .green {
     color: green;
 }

 .job-log {
     width: 100%;
     height: 500px;
     max-width: none;
 }