<div class="row row-spacer">
</div>

<span us-spinner spinner-on="$ctrl.loading" class="spinner">
    <div ng-hide="$ctrl.loading">
        
        <span us-spinner spinner-on="$ctrl.suggestions.loading" class="spinner">
            <div ng-hide="$ctrl.suggestions.loading">
                                    
                <div class="row">
                    <div class="col-12">
                        <p>
                            Search:
                            <input ng-model="$ctrl.suggestions.query" ng-change="$ctrl.suggestions.onQueryChanged()" />
                        </p>
                        <p>
                            Sort by:
                            <select ng-model="$ctrl.suggestions.orderProp" ng-change="$ctrl.suggestions.onOrderChanged()">
                                <option value="I">Alphabetical</option>
                                <option value="-TS">Newest</option>
                                <option value="TS">Oldest</option>
                                <option value="S">Completed</option>
                                <option value="-S">Open</option>
                            </select>
                        </p>
                    </div>
                </div>

                <div infinite-scroll='$ctrl.suggestions.loadMore()' infinite-scroll-distance='2' infinite-scroll-listen-for-event="list:filtered">
                    <a ng-repeat="suggestion in $ctrl.suggestions.pagedItems" class="row" href="#!/suggestion/{{suggestion.id}}">
                        <div class="col-2 suggestion-time">{{suggestion.T}}</div>
                        <div class="col-6 suggestion-name">{{suggestion.I}}</div>
                        <div class="col-2 suggestion-price">{{$ctrl.formatCurrency(suggestion.P)}}</div>
                        <div class="col-1 suggestion-action">
                            <span class="glyphicon" ng-class="$ctrl.getActionIcon(suggestion.A)"></span>
                        </div>
                        <div class="col-1 suggestion-status">
                            <span class="glyphicon" ng-class="$ctrl.getStatusIcon(suggestion.S)"></span>
                        </div>
                    </a>
                </div>

            </div>
        </span>
    </div>
</span>