<section class="policy bg-light app">
    <div class="container">
        <div *ngIf="!loading">
            <div class="row" *ngFor="let item of lineChartData">
                <h2>{{item.sourceType}}:</h2>
                <canvas baseChart [datasets]="item.dataSets" [labels]="lineChartLabels" [options]="lineChartOptions"
                    [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
                    [plugins]="lineChartPlugins"></canvas>
            </div>
        </div>
    </div>
</section>