<nav class="navbar navbar-expand-md navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" routerLink="/">N.A.Y.trading</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsDefault"
            aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsDefault">
            <ul class="navbar-nav mr-auto">
                <li *ngIf="currentUser" class="nav-item"><a class="nav-link" routerLink="/snapshot"
                        [queryParams]="{action:'random_or_confirm'}">New Decision</a></li>
                <li *ngIf="currentUser" class="nav-item"><a class="nav-link" routerLink="/snapshots">Decisions</a></li>
                <li *ngIf="currentUser" class="nav-item"><a class="nav-link" routerLink="/suggestions">Trades</a></li>
                <li *ngIf="currentUser" class="nav-item"><a class="nav-link" routerLink="/instruments">Stocks</a></li>
                <li *ngIf="currentUser" class="nav-item"><a class="nav-link" routerLink="/stats">Stats</a></li>
                <li *ngIf="currentUser?.isAdmin" class="nav-item"><a class="nav-link" routerLink="/admin">Admin</a></li>
                <li *ngIf="currentUser?.isAdmin" class="nav-item"><a class="nav-link" routerLink="/monitor">Monitor</a>
                </li>
                <li class="nav-item"><a class="nav-link" routerLink="/about">About</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/faq">FAQ</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="currentUser" class="nav-item"><a class="nav-link" routerLink="/manage"
                        title="Manage">{{currentUser?.username}}</a></li>
                <li *ngIf="currentUser" class="nav-item"><a class="nav-link" href="#" (click)="logout()">Logoff</a></li>
                <li *ngIf="!currentUser" class="nav-item"><a class="nav-link" routerLink="/register"
                        id="registerLink">Register</a></li>
                <li *ngIf="!currentUser" class="nav-item"><a class="nav-link" routerLink="/login"
                        id="loginLink">Login</a></li>
            </ul>
        </div>
    </div>
</nav>

<main role="main" class="body-content bg-light">
    <ngx-spinner></ngx-spinner>
    <app-alert></app-alert>
    <router-outlet></router-outlet>
</main>

<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 h-100 text-center text-lg-left my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item">
                        <a routerLink="/contact">Impressum</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a routerLink="/terms">Terms of Service</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a routerLink="/cookies">Cookie Policy</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a routerLink="/privacy">Privacy Policy</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a routerLink="/disclaimer">Disclaimer</a>
                    </li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; N.A.Y.trading 2018. All Rights Reserved.</p>
            </div>
            <div class="col-lg-4 h-100 text-center text-lg-right my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <a href="https://github.com/chrwoizi/naytrading">
                            <i class="fa fa-github fa-2x fa-fw"></i>
                        </a>
                    </li>
                    <!-- 
                  <li class="list-inline-item mr-3">
                      <a href="#">
                          <i class="fa fa-facebook fa-2x fa-fw"></i>
                      </a>
                  </li>
                  <li class="list-inline-item mr-3">
                      <a href="#">
                          <i class="fa fa-twitter fa-2x fa-fw"></i>
                      </a>
                  </li>
                  <li class="list-inline-item">
                      <a href="#">
                          <i class="fa fa-instagram fa-2x fa-fw"></i>
                      </a>
                  </li>
                  -->
                </ul>
            </div>
        </div>
    </div>
</footer>