<section class="policy bg-light">
    <div class="container">
        <div class="row row-spacer">
        </div>

        <div *ngIf="!loading">

            <div *ngIf="suggestion">
                <h1>{{suggestion.Action}} {{suggestion.InstrumentName}} for
                    {{formatCurrency(suggestion.Price)}}€ on {{suggestion.Time}}</h1>
                <small>ISIN: {{suggestion.Isin}}, WKN: {{suggestion.Wkn}}, <a routerLink="/snapshot"
                        [queryParams]="{id:suggestion.ID}">Snapshot: #{{suggestion.ID}}</a></small>
            </div>

            <br />

            <div ng-hide="logs.loading">
                <table>
                    <thead>
                        <tr>
                            <th class="log-time">Time</th>
                            <th class="log-status">Status</th>
                            <th class="log-quantity">Quantity</th>
                            <th class="log-price">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let log of pagedItems">
                            <td class="log-time">{{log.Time}}</td>
                            <td class="log-status">
                                <a href="javascript:;" (click)="toggleShowMessage(log)">{{log.Status}}</a>
                                <div class="log-message" [hidden]="!log.showMessage">{{log.Message}}</div>
                            </td>
                            <td class="log-quantity"><span *ngIf="log.Quantity">{{log.Quantity}}</span></td>
                            <td class="log-price"><span *ngIf="log.Price">{{formatCurrency(log.Price)}}€</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>