.log-time {
    vertical-align: top;
    padding: 0 0.5em 0 0;
}

.log-status {
    vertical-align: top;
    padding: 0 0.5em 0 0;
}

.log-quantity {
    vertical-align: top;
    text-align: right;
    padding: 0 0.5em 0 0;
}

.log-price {
    vertical-align: top;
    text-align: right;
    padding: 0;
}