<div class="row row-spacer">
</div>

<div class="row row-spacer">
    <div class="col-12">
        <a href="#!/snapshot/new/random" class="btn btn-info btn-block" role="button">New decision on random stock</a>
    </div>
</div>

<span us-spinner spinner-on="$ctrl.loading" class="spinner">
    <div ng-hide="$ctrl.loading">
        
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" class="sale-cell">Deposited</th>
                            <th scope="col" class="sale-cell">Balance</th>
                            <th scope="col" class="sale-cell">Return</th>
                            <th scope="col" class="sale-cell">Holding</th>
                            <th scope="col" class="sale-cell">Sold</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="sale-cell">{{$ctrl.formatCurrency($ctrl.account.deposit)}}€</td>
                            <td class="sale-cell">{{$ctrl.formatCurrency($ctrl.account.value)}}€</td>
                            <td class="sale-cell">{{$ctrl.formatPercentage($ctrl.account.return)}}%</td>
                            <td class="sale-cell">{{$ctrl.account.open}}</td>
                            <td class="sale-cell">{{$ctrl.account.complete}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <canvas class="chart chart-line" chart-data="$ctrl.data" chart-labels="$ctrl.labels"
                    chart-click="$ctrl.onClick" chart-series="$ctrl.series" chart-options="$ctrl.options"
                    chart-dataset-override="datasetOverride"></canvas>
            <div>&nbsp;</div>
        </div>

        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Status</th>
                            <th scope="col" class="sale-cell">Count</th>
                            <th scope="col" class="sale-cell">Sum</th>
                            <th scope="col" class="sale-cell">Min</th>
                            <th scope="col" class="sale-cell">Avg</th>
                            <th scope="col" class="sale-cell">Max</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"><div class="glyphicon glyphicon-euro"></div></th>
                            <td class="sale-cell">{{$ctrl.completeStats.count}}</td>
                            <td class="sale-cell">{{$ctrl.formatPercentage($ctrl.completeStats.sumReturn)}}%</td>
                            <td class="sale-cell">{{$ctrl.formatPercentage($ctrl.completeStats.minReturn)}}%</td>
                            <td class="sale-cell">{{$ctrl.formatPercentage($ctrl.completeStats.averageReturn)}}%</td>
                            <td class="sale-cell">{{$ctrl.formatPercentage($ctrl.completeStats.maxReturn)}}%</td>
                        </tr>
                        <tr>
                            <th scope="row"><div class="glyphicon glyphicon-briefcase"></div></th>
                            <td class="sale-cell">{{$ctrl.openStats.count}}</td>
                            <td class="sale-cell">{{$ctrl.formatPercentage($ctrl.openStats.sumReturn)}}%</td>
                            <td class="sale-cell">{{$ctrl.formatPercentage($ctrl.openStats.minReturn)}}%</td>
                            <td class="sale-cell">{{$ctrl.formatPercentage($ctrl.openStats.averageReturn)}}%</td>
                            <td class="sale-cell">{{$ctrl.formatPercentage($ctrl.openStats.maxReturn)}}%</td>
                        </tr>
                        <tr>
                            <th scope="row"><div class="glyphicon glyphicon-plus"></div></th>
                            <td class="sale-cell">{{$ctrl.combinedStats.count}}</td>
                            <td class="sale-cell">{{$ctrl.formatPercentage($ctrl.combinedStats.sumReturn)}}%</td>
                            <td class="sale-cell">{{$ctrl.formatPercentage($ctrl.combinedStats.minReturn)}}%</td>
                            <td class="sale-cell">{{$ctrl.formatPercentage($ctrl.combinedStats.averageReturn)}}%</td>
                            <td class="sale-cell">{{$ctrl.formatPercentage($ctrl.combinedStats.maxReturn)}}%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p>
                    Search:
                    <input ng-model="$ctrl.query" ng-change="$ctrl.onQueryChanged()" />
                </p>
                <p>
                    Sort by:
                    <select ng-model="$ctrl.orderProp" ng-change="$ctrl.onOrderChanged()">
                        <option value="I">Alphabetical</option>
                        <option value="-DS">Newest</option>
                        <option value="DS">Oldest</option>
                        <option value="-R">Highest</option>
                        <option value="R">Lowest</option>
                        <option value="S">Complete</option>
                        <option value="-S">Open</option>
                    </select>
                </p>
            </div>
        </div>

        <div infinite-scroll='$ctrl.loadMore()' infinite-scroll-distance='2' infinite-scroll-listen-for-event="list:filtered">
            <a ng-repeat="sale in $ctrl.pagedItems" class="row" href="#!/snapshots/{{sale.I}}">
                <div class="col-3 snapshot-time">{{sale.D}}</div>
                <div class="col-6 instrument-name">{{sale.I}}</div>
                <div class="col-2 sale-return">{{$ctrl.formatPercentage(sale.R)}}%</div>
                <div class="col-1 sale-status glyphicon" ng-class="sale.S == 'c' ? 'glyphicon-euro' : 'glyphicon-briefcase'"></div>
            </a>
        </div>
    </div>
</span>
