<section class="policy bg-light">
  <div class="container">
    <div class="row row-spacer"></div>

    <div class="row row-spacer">
      <div class="col-12">
        <a
          routerLink="/snapshot"
          [queryParams]="{ action: 'random_or_confirm' }"
          class="btn btn-info btn-block"
          role="button"
          >New decision on random stock</a
        >
      </div>
    </div>

    <div *ngIf="!loading">
      <div class="row" [hidden]="!hasOtherUser">
        <div class="col-12">
          <p>
            Account:
            <select
              [(ngModel)]="user"
              (ngModelChange)="onUserChanged()"
              ng-options="o as o for o in users"
            >
              <option *ngFor="let o of users" [value]="o">{{ o }}</option>
            </select>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" class="sale-cell">Deposited</th>
                <th scope="col" class="sale-cell">Balance</th>
                <th scope="col" class="sale-cell">Return</th>
                <th scope="col" class="sale-cell">Holding</th>
                <th scope="col" class="sale-cell">Sold</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="sale-cell">
                  {{ formatCurrency(account.deposit) }}€
                </td>
                <td class="sale-cell">{{ formatCurrency(account.value) }}€</td>
                <td class="sale-cell">
                  {{ formatPercentage(account.return) }}%
                </td>
                <td class="sale-cell">{{ account.open }}</td>
                <td class="sale-cell">{{ account.complete }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <canvas
          baseChart
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins"
        ></canvas>
        <div>&nbsp;</div>
      </div>

      <div class="row">
        <div class="col-12">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Status</th>
                <th scope="col" class="sale-cell">Count</th>
                <th scope="col" class="sale-cell">Sum</th>
                <th scope="col" class="sale-cell">Min</th>
                <th scope="col" class="sale-cell">Avg</th>
                <th scope="col" class="sale-cell">Max</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  <div class="glyphicon glyphicon-euro"></div>
                </th>
                <td class="sale-cell">{{ completeStats.count }}</td>
                <td class="sale-cell">
                  {{ formatPercentage(completeStats.sumReturn) }}%
                </td>
                <td class="sale-cell">
                  {{ formatPercentage(completeStats.minReturn) }}%
                </td>
                <td class="sale-cell">
                  {{ formatPercentage(completeStats.averageReturn) }}%
                </td>
                <td class="sale-cell">
                  {{ formatPercentage(completeStats.maxReturn) }}%
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="glyphicon glyphicon-briefcase"></div>
                </th>
                <td class="sale-cell">{{ openStats.count }}</td>
                <td class="sale-cell">
                  {{ formatPercentage(openStats.sumReturn) }}%
                </td>
                <td class="sale-cell">
                  {{ formatPercentage(openStats.minReturn) }}%
                </td>
                <td class="sale-cell">
                  {{ formatPercentage(openStats.averageReturn) }}%
                </td>
                <td class="sale-cell">
                  {{ formatPercentage(openStats.maxReturn) }}%
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="glyphicon glyphicon-plus"></div>
                </th>
                <td class="sale-cell">{{ combinedStats.count }}</td>
                <td class="sale-cell">
                  {{ formatPercentage(combinedStats.sumReturn) }}%
                </td>
                <td class="sale-cell">
                  {{ formatPercentage(combinedStats.minReturn) }}%
                </td>
                <td class="sale-cell">
                  {{ formatPercentage(combinedStats.averageReturn) }}%
                </td>
                <td class="sale-cell">
                  {{ formatPercentage(combinedStats.maxReturn) }}%
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <p>
            Search:
            <input [(ngModel)]="query" (ngModelChange)="onQueryChanged()" />
          </p>
          <p>
            Sort by:
            <select [(ngModel)]="orderProp" (ngModelChange)="onOrderChanged()">
              <option value="I">Alphabetical</option>
              <option value="-DS">Newest</option>
              <option value="DS">Oldest</option>
              <option value="-R">Highest Return</option>
              <option value="R">Lowest Return</option>
              <option value="S">Completed</option>
              <option value="-S">Open</option>
              <option value="-C">Most Confirmed</option>
              <option value="C">Least Confirmed</option>
            </select>
          </p>
        </div>
      </div>

      <div
        infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="50"
        (scrolled)="loadMore()"
      >
        <div *ngFor="let sale of isSignedInUser ? [] : pagedItems" class="row">
          <div class="col-2 snapshot-time">{{ sale.D }}</div>
          <div class="col-6 instrument-name">{{ sale.I }}</div>
          <div class="col-2 sale-return">{{ formatPercentage(sale.R) }}%</div>
          <div class="col-2 sale-status">
            <span>{{ sale.C > 0 ? "+" + sale.C : sale.C }}</span>
            <span
              [ngClass]="
                sale.S == 'c'
                  ? 'glyphicon glyphicon-euro'
                  : 'glyphicon glyphicon-briefcase'
              "
            ></span>
          </div>
        </div>
        <a
          *ngFor="let sale of isSignedInUser ? pagedItems : []"
          class="row"
          routerLink="/snapshots"
          [queryParams]="{ instrument: sale.II }"
        >
          <div class="col-2 snapshot-time">{{ sale.D }}</div>
          <div class="col-6 instrument-name">{{ sale.I }}</div>
          <div class="col-2 sale-return">{{ formatPercentage(sale.R) }}%</div>
          <div class="col-2 sale-status">
            <span>{{ sale.C > 0 ? "+" + sale.C : sale.C }}</span>
            <span
              [ngClass]="
                sale.S == 'c'
                  ? 'glyphicon glyphicon-euro'
                  : 'glyphicon glyphicon-briefcase'
              "
            ></span>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
